Flask-HTTPAuth
Flask-SQLAlchemy
Jinja2
MarkupSafe
Pika==0.12.0
Pygments
SQLAlchemy
Werkzeug
amqp
coverage
flasgger
flask
gdal
grass-session
gunicorn
httpie
itsdangerous
matplotlib
numpy>=1.15
numexpr
python-dateutil
pyyaml
requests
scipy
six
supervisor
